ol {
 list-style-type: none;
 
 font-size: 20pt;
 /*list-style-image: url(add.png);*/
}
hr {
	 border: 0; 
	 height: 1px;
	  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}


ol li {
	cursor: pointer;
	-moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; 
}


ol li:hover {
 color: #67D8EF;
}


.tareaHecha {
color: #74705D;	
font-style: italic;
/*text-decoration: line-through;*/
}

.tareaHecha:hover {
	color:#90918B;
}



ol li span:hover {
	color: #F92472;

}
ol li span {
float: right;

}

.centro {
	display: flex;
	justify-content: center;
	text-align: justify;


}

h1 {
  color: #A6E22A;
  font-weight: 400;
}

h1:before {
  content: "/-*- ";
  color: #98a8b5;
}
h1:after {
  content: " *-*/";
  color: #98a8b5;
}

footer {
  color: #98a8b5;
  font-size: 0.8em;
  padding: 2em 0;
  cursor: pointer;
}
footer:before {
  content: "<!-- ";
  color: #b37775;
}
footer:after {
  content: " -->";
  color: #b37775;
}

footer:hover {
  color:#8C80FF;
}



.cerrar {


  
}

.pInstrucciones {
display: none;
margin-left: 25%;
margin-right:25%;
}


body{
	background-color: #282923;
	color: white;
	font-family: Consolas,monospace;
	text-align: center;

}

#textoTarea {
  
  left:175px;
  border-right: 20px;
  height: 26px;
  width: 150px;
  color: white;
  background:transparent;
  font-size: 15px;
  border-bottom: 20px;

  font-size:15pt;
}

#btnAg {
	 background: #E7DB74;
  border-radius: 20px;
  border: none;
  height: 30px;
  min-width: 30px;
  cursor: pointer;
 
}

#btnMod {
     background: #AC80FF;
  border-radius: 20px;
  border: none;
  height: 30px;
  min-width: 30px;
  cursor: pointer;
}

#textoModificar {
   left:175px;
  border: none;
  height: 26px;
  width: 170px;
  color: white;
  background:transparent;
  font-size: 15px;
  border-left: 20px;
  font-size:15pt;
  
}

.highlight {
  width: 0px;
  height: 1px;
  background:#E7DB74;
  position: absolute;
  bottom: 530px;
  right: 740px;
  transition: all 1s ease;
}

#textoTarea:focus ~ .highlight {
  width: 147px;
  transition: all 1s ease;
}

.highlightMod {
  width: 0px;
  height: 1px;
  background:#AC80FF;
  position: absolute;
  bottom: 530px;
  right: 525px;
  transition: all 1s ease;
}

#textoModificar:focus ~ .highlightMod {
  width: 160px;
  transition: all 1s ease;
}

.btnBorrarHechas{
  background-color: #282923;
color: #fff;
border-radius: 10px;
margin-left: 50%;
}
.btnBorrarHechas:hover{
background-color: #fff;

color: #000;
}

@media only screen and (max-width: 600px) {
 
  h1 {
    font-size: 15px;
  }

ol{ 
 font-size: 15pt;
  }  


  
  }



@media only screen and (max-width: 430px){
  .contenedorInput {
    display:block;
    padding:2px;
  }
  .contenedorInput button{
    float:right;
  }
}